body {
    margin: 0;
    padding: 0;
    background-image: url('new.jpg'); /* Замените на ваше изображение фона */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.content {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

/* Ваши текущие стили остаются без изменений */

/* Стили для слайдера */
.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-top: 20px;
}

.slide {
    flex: 0 0 100%;
    min-width: 100%;
    scroll-snap-align: start;
    background: #333;
    color: #fff;
    padding: 20px;
}
